<!DOCTYPE html>
<html lang="en">

<style>
  body{
    background-image: url('/static/images/ales-me-z0bACVUDTJM-unsplash.jpg');
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
</style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wine Score Dashboard</title>
   <!-- Leaflet CSS & JS -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
   integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
   crossorigin=""></script>



 <!--D3 cdn-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
<script src="./static/js/app.js"></script>
<!-- Our CSS -->
<link rel="stylesheet" type="text/css" href="./static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.js"></script>
    <!-- <script src="leaflet-heat.js"></script> -->
    

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Wine Score Dashboard</h1>
        <p>Use the interactive charts below to explore wine data set</p>
      </div>
    </div>

    <div class="row">
      <!-- <div class="col-md-2">
        <div class="well">
          <h5>Test Subject ID No.:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)">
            <option value="us">United States</option>
          </select>
          
        </div> -->
        <!-- <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Demographic Info</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
          <h3 class="panel-body">id:</h3>
          <h3 class="panel-body">ethnicity:</h3>
          <h3 class="panel-body">age:</h3>
          <h3 class="panel-body">location:</h3>
          <h3 class="panel-body">bbtype:</h3>

        </div> -->
   
   
        <!-- <div class="col-md-12"> -->
          
        <!-- </div> 
         -->
         <div class="col-md-12">
          <div id="map" style="width: 1100px; height: 500px; position: relative; outline: none;">
            <script >
              // API key
const API_KEY = "pk.eyJ1IjoiYmFyYmFyYXlzbCIsImEiOiJjazQyMGszaXAwM2lyM2twdGQ0dWppNzJsIn0.JhEljgI3217QYJaPTo7JCQ";

var myMap = L.map("map", {
  center: [46.227638
, 2.213749],
  zoom: 2

});
// Adding tile layer
L.tileLayer("https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}", {
  attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
  maxZoom: 18,
  id: "mapbox.wheatpaste",
  accessToken: API_KEY
}).addTo(myMap);
d3.csv('/static/data/Final_Table.csv').then((data) => {
    

    
  
    for (var i = 0; i < data.length; i++) {
      var data_defined=data[i];
      function markerSize(mag) {
  return mag*70000;
}

  var total = 0;
  var data2=[];
  data2.push(data[i]);
  total += data2.score;  
  var count=data2.length
var avg = total / count;


    function chooseColor(borough) {
  switch (borough) {
  case "Lebanon":
    return "#0f5e9c";
  case "Germany":
    return "#2389da";
  case "Italy":
    return "#1ca3ec";
  case "South Africa":
    return "#5abcd8";
  case "Usa":
    return "#74ccf4";
  default:
    return "#add8e6";
  }
}

     geojson= L.circle([data_defined.Lat,data_defined.Long], {
        fillOpacity: 0.8,
        weight:0.5,
        color: "black",
        fillColor: chooseColor(data_defined.country),
        // Setting our circle's radius equal to the output of our markerSize function
        // This will make our marker's size proportionate to its population
        radius: markerSize(data_defined.country.length)
      }).bindPopup("<p>" + "Average Wine Score: " + avg + " Number of Wine: "+ count+
      "</p><hr><p>" + data_defined.country + "</p>").addTo(myMap);}
    });

     

</script>


<!-- 
          <script>
          

	var mymap = L.map('map').setView([51.505, -0.09], 13);

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
  maxZoom: 18,
  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  id: 'mapbox/streets-v11'
}).addTo(mymap);
</script> -->
        </div>
       
      <div class="col-md-6">
        <div id="bar"></div>
      </div>
     
 
    <div class="row">
      <div class="col-md-6">
        <div id="bubble"></div>
      </div>
    </div>
  </div>


</body>

</html>
