<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display|Rubik">
    <link rel="stylesheet" href="../static/css/index.css" >

    <title>Wine Project Cover</title>
    <meta name="description" content="A simple library to take care of complex CSS animations." />
    <meta property="og:image" content="./assets/screenshot.png" />

  </head>
  <body>

     <div id="wrapper">
      <div id="letters">
        <div class="c">W</div>
        <div class="h">h</div>
        <div class="o">a</div>
        <div class="r">t</div>
        <div class="space"> </div>
        <div class="space"> </div>
        <div class="space"> </div>
        <div class="space"> </div>
        <div class="e">i</div>
        <div class="o">m</div>
        <div class="g">p</div>
        <div class="r">a</div>
        <div class="a">c</div>
        <div class="p">t</div>
        <div class="h">s</div>
        <div class="space"> </div>
        <div class="space"> </div>
        <div class="space"> </div>
        <div class="space"> </div>
        <div class="e">w</div>
        <div class="r">i</div>
        <div class="r">n</div>
        <div class="r">e</div>
        <div class="r">?</div>
        <br />
        <div class="line"></div>

        <p class="description">
          Purpose of project is to analyze what factors such as region, year, color impact wine score
        </p>
         <p class="description2">
          Click on link below to access live Dashboard.
        </p>
      </div>
      <div class="scroll-overlay"></div>
    </div>

    <div class="links">
      <div class="quickstart">
        <a href="./dashboard">Link to Dashboard</a>
      </div>

    </div>

    <div class="scroll-down">
      <p>scroll down</p>
      <div class="down-arrow"></div>
    </div>

    <script src="../static/dist/choreographer.min.js"></script>
    <script src="../static/js/index.js"></script>

 
  </body>
</html>
